extends layout

block content
  #room
  #messages

  form#send-form
    input(id='send-message')
    input(id='send-button', type='button', value='Send')

  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery-1.7.2.min.js')
  script(src='/javascripts/chat.js')
